<html>
	<head>
		<title></title>
		<script src="/socket.io/socket.io.js"></script>
		<!-- fichier qui n'apparait pas dans l'arborescence mais 
			qui va s'installer coté client chez le viewer de la page -->
			<script> // cf tchat.js partie socket.io :
				var socket = io('http://localhost'); // donne le namespace
				socket.on('message', function(data) {
					console.log(data);
					document.querySelector("p").innerHTML = data.text;
				});
			</script>
	</head>
	<body>
		<p>
		<%= message %> <!-- récupère var message et l'affiche. -->
		</p>
	</body>
</html>