<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>PongOff</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="/libs/require.js" type="text/javascript" data-main="core/main"></script>
	</head>
	<body>
		<div id="clientLobby"></div>
		<div id="clientGame"></div>
	</body>
</html>