body {
	background-color: #aaa;
	padding: 20px;
	text-align: center;
	
	font-family: "arial black";
	color: #373291;
	font-size: 20px;
}

.board {
	display: inline-block;
	width: 500px;
	height: 260px;
	margin: 20px;
	background-color: #4540b7;
	border-radius: 15px;
	border: 10px solid #706f92;
	border-bottom-width: 32px;
	box-shadow:
					inset 15px 0px 10px #11102d, inset -15px 0px 10px #11102d,
					inset 0px 0px 10px #090728,
					inset 0px 0px 100px #4540b7,
					inset -70px 0px 0px #36308D, inset 70px 0px 0px #36308D,
					inset -249px 0px 0px #2c2873, inset 249px 0px 0px #2c2873,
					2px 2px 2px #444;
					
	/* Makes screen non-selectable and prevents text cursor from displaying */
	/* by Sean Soria for Gamzee */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
	-o-user-select: none;
	cursor: default; /* toujours flèche. */
}

.bottomTxt {
	position: relative;
	display: inline-block;
	width: 119px;
	height: 30px;
	margin-top: 261px;
	font-size: 21px;
	color: #4a4a61;
	text-shadow: 1px 1px 1px #aeaec1;
	overflow: hidden;
}

#monCanvas {
	float: left;
	margin-top: -298px;
	border: 2px solid #8383a0;
	border-radius: 5px;
	box-shadow: 0px 5px 15px #8383a0;
}

